.page {
  min-height: 100vh;
  background-color: lightgray;
  margin: auto;
  padding-bottom: 16rem;
}

.header__title {
  font-size: 2rem;
}

.bayan {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
}

.bayan__mem {
  border-top: medium solid black;
  overflow: hidden;
  padding: 0.5rem 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  user-select: none;
}


.bayan__btn {
  order: 1;
  appearance: none;
  width: 2rem;
  height: 2rem;
  background-image: url(../cssBayan/icons/eye-solid.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.5s;
  opacity: 0.7;
}

.bayan__btn:checked {
  background-image: url(../cssBayan/icons/check-solid.svg);
  transition: 1s;
}

.bayan__mem-caption {
  order: 0;
  width: calc(100% - 3rem);
  box-sizing: border-box;
  color: black;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 1rem;
  margin: 0;
  opacity: 0.7;
  transition: 0.5s;
}

.bayan__btn:checked~.bayan__mem-caption {
  opacity: 1;
  transition: 0.5s;
}

.bayan__mem-image {
  order: 2;
  box-sizing: border-box;
  max-width: 90vw;
  margin: auto;
  border: thin solid black;
  border-radius: 0.5rem;
  overflow: hidden;

  width: 0;
  opacity: 0;
  transition: width 1s, opacity 1s;
}

.bayan__btn:checked~.bayan__mem-image {
  width: 100%;
  opacity: 1;
  transition: width 2s, opacity 1s;
}



@media screen and (min-width: 760px) {
  .header__title {
    font-size: 2.5rem;
  }

  .bayan__mem-image {
    max-width: 50%;
  }

  .bayan__mem-caption {
    font-size: 1.5rem;
  }
}


@media screen and (min-device-width: 1280px) {
  .header__title {
    font-size: 3rem;
  }

  .page {
    width: 90%;
    max-width: 80rem;
    margin: auto;
  }

  .bayan__mem-caption {
    font-size: 2rem;
  }

  .bayan__btn {
    top: 1rem;
    right: 1rem;
  }
}

@media (hover: hover) {
  .bayan__mem-caption:hover {
    opacity: 1;
    transition: 0.5s;
  }

  .bayan__btn:hover {
    width: 2.1rem;
    height: 2.1rem;
    transform: translateX(0.05rem);
    transform: translatey(0.05rem);
    opacity: 1;
    transition: 0.5s;
  }

  .bayan__mem:hover>.bayan__btn:not(checked)~.bayan__mem-image {
    width: 100%;
    opacity: 1;
    transition: width 2s, opacity 1s;
  }

  .bayan__mem:hover:has(.bayan__btn:checked),
  .bayan__btn:checked:hover {
    cursor: default;
  }

  .bayan__mem:hover,
  .bayan__btn:not(checked):hover {
    cursor: pointer;
  }

  .bayan__mem:hover:not(:has(.bayan__btn:checked)) {
    background-color: rgb(175, 175, 175)
  }
}